@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* NAVBAR */

.navbar-element {
  @apply font-light hover:text-gray-400 ease-in duration-150;
}

.navbar-element-hover {
  @apply hover:text-gray-400 ease-in duration-150;
}

.navbar-active {
  @apply font-semibold;
}